/* Display générique du body */

body
{
    margin: 30px;
}

/* Display du Header*/

header
{
    display: flex;
    justify-content: space-between;
}

#bookipng
{
    text-align: center;
    margin: 15px;
}

.navigation
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.navigation li
{
    font-family: 'roboto', sans-serif;
    font-size: 1.1em;
}

.navigation a
{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
}

.navigation a:hover
{
    border-top: 3px solid blue;
    margin-top: 0;
    padding-top: 20px;
    color: blue;
}

/* Display de la Section de présentation (Titre) */

#titre1 h1
{
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    padding-left: 0.5em;
}

#titre1 p
{
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    padding-left: 1em;
}

/* Display de la Section de présentation (Recherche) */

#recherche
{
    padding-left: 1em;
    padding-top: 1em;
    font-size: 1.4em;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#recherche i
{
    border: 1px solid #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    background-color: #f2f2f2;
    font-size: 0.8em;
}

#recherche input
{
    border: 1px solid #f2f2f2;
    padding-left: 20px;
    padding-right: 30px;
    font-family: 'roboto', sans-serif;
}

#recherche input::placeholder
{
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

#recherche button
{
    border: 1px solid #0065fc;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    background-color: #0065fc;
    font-family: 'roboto', sans-serif;
    font-weight: 550;
    color: white;
    font-size: 0.7em;

}